.page-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.page-error h1{
    color: var(--color-green-1);
    margin-bottom: 50px;
}
.page-error button{
    width: 40%;
    background-color: var(--color-green-1);
    cursor: pointer;
    border-radius: 6px;
    border: none;
}
.page-error button a{
    width: 100%;
    display: inline-block;
    padding: 14px 8px;
    font-size: 1rem;
    color: #fff;
}