.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: opacity .75s, visibility .75s;
}
.loader:after{
    content: '';
    width: 75px;
    height: 75px;
    border: 15px solid var(--color-heading);
    border-top-color: var(--color-green-1);
    border-radius: 50%;
    animation: loading .75s ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
